<section class="content content_v content_h content_m">

	<h1>Abigor testes</h1>
	<h2>Abigor testes</h2>
	<h3>Abigor testes</h3>
	<h4>Abigor testes</h4>

	<p class="font12">Teste font-size tamanho 12px</p>
	<p class="font14">Teste font-size tamanho 14px</p>
	<p class="font16">Teste font-size tamanho 16px</p>
	<p class="font18">Teste font-size tamanho 18px</p>
	<p class="font20">Teste font-size tamanho 20px</p>
	<p class="font24">Teste font-size tamanho 24px</p>
	<p class="font28">Teste font-size tamanho 28px</p>
	<p class="font30">Teste font-size tamanho 30px</p>

	<p class="font100">Teste de peso da fonte - peso 100</p>
	<p class="font200">Teste de peso da fonte - peso 200</p>
	<p class="font300">Teste de peso da fonte - peso 300</p>
	<p class="font400">Teste de peso da fonte - peso 400</p>
	<p class="font500">Teste de peso da fonte - peso 500</p>
	<p class="font600">Teste de peso da fonte - peso 600</p>
	<p class="font700">Teste de peso da fonte - peso 700</p>
	<p class="font800">Teste de peso da fonte - peso 800</p>
	<p class="font900">Teste de peso da fonte - peso 900</p>

	<div class="bg-primary">
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	</div>
	<p>Lorem ipsum dolor sit amet, consectetur <strong>adipisicing</strong> elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation <span class="primary">ullamco</span> laboris nisi ut aliquip ex ea commodo
	consequat. Duis aute irure dolor in reprehenderit in voluptate <b>velit</b> esse
	cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
	proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

	<hr/>

	<div class="block width-50 pd-right-10">
		<div class="bg-gradient">		
			<p>Este é o bloco Esquerdo</p>
		</div>
	</div>
	<div class="block width-50 pd-left-10">
		<div class="bg-gradient">		
			<p>Este é o bloco Direito</p>
		</div>
	</div>

	<div class="site-space-50"></div>

	<div class="bg-gray1">
		<p>Background color - gray 1</p>
		<a href="#">Este é um link</a>
	</div>

	<br/>

	<div class="bg-gray2">
		<p>Background color - gray 2</p>
		<a href="#">Este é um link</a>
	</div>

	<br/>

	<div class="bg-gray3">
		<p>Background color - gray 3</p>
		<a href="#">Este é um link</a>
	</div>

	<br/>

	<div class="bg-gray4">
		<p>Background color - gray 4</p>
		<a href="#">Este é um link</a>
	</div>

	<br/>

	<div class="bg-gray5">
		<p>Background color - gray 5</p>
		<a href="#">Este é um link</a>
	</div>

	<br/>

	<div class="bg-secondary">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	</div>

	<hr/>

	<div class="bg-terciary">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
		cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	</div>
</section>