<!DOCTYPE html>
<html lang="pt-br">
	{{header}}
	<body>
		<nav class="nav">
			<div class="nav-nav">
				<div class="box-nav-logo">
				</div>
				<div class="box-nav-box">
					<div class="box-nav-busca">
						<input type="text" name="" placeholder="pesquisar pessoas, fotos, perfis, etc..">
					</div>
					<div class="box-nav-criar">
						Criar sua conta
					</div>
					<div class="box-nav-entrar">
						Entrar
					</div>
				</div>
			</div>
		</nav>
		{{menu}}
		<main>
			{{visao}}
		</main>
		<footer>
			<div>
				<div>Todos os direitos reservados</div><div>· {{ano}} © {{dominio_site}}</div>
			</div>
		</footer>
		<div id="box-progress"></div>
		<link rel="stylesheet" type="text/css" href="/css/icons/all.min.css{{cache}}">
		<link rel="stylesheet" type="text/css" href="/css/site.min.css{{cache}}">
		<script>
		</script>
	</body>
</html>