<!DOCTYPE html>
<html lang="pt-br">
	{{header}}
	<body>
		{{menu}}
		<main>
			{{visao}}
		</main>
		<footer class="content content_v content_h content_m">
			<div class="block v-middle width-50">
				<div class="block pd-right-10">
					<a href="#">Categorias</a>
				</div>

				<div class="block pd-center-10">
					<a href="#">Mais visitados</a>
				</div>

				<div class="block pd-center-10">
					<a href="#">Termos</a>
				</div>

				<div class="block pd-center-10">
					<a href="#">Regras</a>
				</div>

				<div class="block pd-center-10">
					<a href="#">Privacidade</a>
				</div>

				<div class="block pd-left-10">
					<a href="#">Ajuda</a>
				</div>
			</div>
			<div class="block v-middle width-50">
				<p class="text-right">{{ano}} <strong>{{dominio_site}}</strong> · Todos os direitos reservados</p>
			</div>
		</footer>
		<div id="box-progress"></div>
		<link rel="stylesheet" type="text/css" href="/css/icons/all.min.css{{cache}}">
		<link rel="stylesheet" type="text/css" href="/css/site.min.css{{cache}}">
		<script>
		</script>
	</body>
</html>