/* SCROLL-BAR */
::-webkit-scrollbar{width: rem(10px); height: rem(10px);}
::-webkit-scrollbar-track-piece{background-color: #EEE;}
::-webkit-scrollbar-thumb:vertical{height: rem(5px); background-color: #222;}
::-webkit-scrollbar-thumb:horizontal{width: rem(5px); background-color: #222;}
::-ms-clear {width: 0; height: 0;}
::-ms-reveal {width: 0; height: 0;}

/* HIDE YELLOW BACKGROUND IN STORED PASSWORD */
@include hide-yellow-bg-input;

select::-moz-focus-inner{
	border: 0;
}
select:-moz-focusring{
	color: transparent;
	text-shadow: 0 0 0 #000;
}
::-moz-focus-inner{
	border: 0;
}

/* TAP AND TOUCH HIGHTLIGHT */
*{
	@include highlight-color-rgba(0, 0, 0, 0);
}
a, a:visited{
	color: $colorSecondary !important;
	font-weight: 600;
	font-size: rem(16px);
	text-decoration: none;
	outline: 0;
}
a:active, a:hover, a:focus{
	text-decoration: none;
	outline: 0;
	color: ($colorSecondary - 30) !important;
}
p{
	text-align: left;
}
img{
	border: 0;
}
table{
	border-collapse: collapse;
}
table td{
	vertical-align: top;
	padding: rem(5px);
	word-wrap: break-word;
}
select{
	background-image: none;
	background-color: #FFF;
	outline: none;
	border: rem(1px) solid #CCC;
	height: rem(30px);
	padding: rem(0px, 0px, 0px, 5px);
	font-size: rem(16px);
	color: #666;
	box-shadow: none;
	@include appearance(none);
	@include border-radius(0);
	@include border-box;
}
select::-ms-expand{
	display: none;
}
input, button, textarea{
	box-shadow: none;
	background-image: none;
	outline: none;
	@include border-box;
	@include border-radius(0);
}
blockquote{
	background: rgba(0,0,0,0);
	margin: rem(16px, 10px);
	padding: rem(16px, 10px);
	quotes: "\201C""\201D";
}
blockquote:before{
	color: #CCC;
	content: open-quote;
	font-size: rem(20px);
	line-height: rem(14px);
	margin-right: rem(16px);
}
blockquote p{
	display:inline;
	line-height: rem(30px) !important;
	font-size: rem(16px);
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder{
	color: #AAA;
}
input:-moz-placeholder,
textarea:-moz-placeholder{
	color: #AAA;
}
input:-ms-input-placeholder,
textarea:-ms-placeholder{
	color: #AAA;
}
input:-o-input-placeholder,
textarea:-o-placeholder{
	color: #AAA;
}
fieldset{
	border: rem(1px) solid #AAA;
	margin: 0;
}
hr{
	height: rem(3px);
	border: none;
	background-color: rgba(241, 241, 241, 1);
}