<section class="content content_v content_h content_m">
	<h2>Assinantes</h2>

	<div class="assinantes">
		<div class="block width-50">
			<div class="d-inline-block width-50">
				<p>Matheus Maydana <br /> 06/12/2018</p>
			</div>
			<div class="d-inline-block width-50">
				<p>Matheus Maydana <br /> 06/12/2018</p>
			</div>
		</div>
		<div class="block width-50">
			<div class="d-inline-block width-50">
				<p>Matheus Maydana <br /> 06/12/2018</p>
			</div>
			<div class="d-inline-block width-50">
				<p>Matheus Maydana <br /> 06/12/2018</p>
			</div>
		</div>
	</div>
</section>

<section class="content content_v content_h content_m">
	<h2>Mais visitados do dia</h2>
</section>

<section class="content content_v content_h content_m">
	<h2>Últimas publicações</h2>
</section>