<div class="content content_v content_h content_m">
	<div class="conta">
		<div class="conta-box-img">
			<div class="conta-box-img-circle">			
				<img id="img-perfil" src="/" alt="User" />
			</div>
		</div>
		<div class="conta-box-perfil">
			<h1 class="abigor-title" id="user-nome">Matheus_Maydana</h1>
			<div class="block width-33-3 abigor-txt"><b>04</b> publicacoes</div>
			<div class="block width-33-3 abigor-txt"><b>374</b> amiguinhos</div>
			<div class="block width-33-3 abigor-txt"><b>77</b> fans</div>
		</div>


		<div class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="continue_with" data-show-faces="true" data-auto-logout-link="true" data-use-continue-as="true"></div>
	
	</div>
</div>
<script>
async function getUserAsync(name){

	var myHeaders = new Headers({
		'Accept': 'application/json',
      	'Content-Type': 'application/json'
	});

	var myInit = {
        headers: myHeaders,
        mode: 'no-cors'
	};
	
	let response = fetch(`https://api.tibiadata.com/v2/characters/${name}.json`, myInit)
	.then(resposta => {

		resposta.json().then(json => {
			return json;
		});

	}).catch (error => {
			console.log(error)
		}
	);
}

getUserAsync('JoeZito')
.then(data => console.log(data));
</script>