<div class="content content_v content_h content_m">
	<div class="conta">
		<div class="conta-box-img">
			<div class="conta-box-img-circle">			
				<img src="/img/user/1.jpg" alt="User" />
			</div>
		</div>
		<div class="conta-box-perfil">
			<h1 class="abigor-title">Matheus_Maydana</h1>
			<div class="block width-33-3 abigor-txt"><b>04</b> publicacoes</div>
			<div class="block width-33-3 abigor-txt"><b>374</b> amiguinhos</div>
			<div class="block width-33-3 abigor-txt"><b>77</b> fans</div>
		</div>


	</div>
</div>