<div class="content content_v content_h content_m">
	<div class="conta">
		<div class="conta-box-img">
			<div class="conta-box-img-circle">			
				<img id="img-perfil" src="/" alt="User" />
			</div>
		</div>
		<div class="conta-box-perfil">
			<h1 class="abigor-title" id="user-nome">Matheus_Maydana</h1>
			<div class="block width-33-3 abigor-txt"><b>04</b> publicacoes</div>
			<div class="block width-33-3 abigor-txt"><b>374</b> amiguinhos</div>
			<div class="block width-33-3 abigor-txt"><b>77</b> fans</div>
		</div>


		<div class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="continue_with" data-show-faces="true" data-auto-logout-link="true" data-use-continue-as="true"></div>
	
	</div>
</div>

<script>
	/*if(ME.perfil !== ''){
		document.getElementById('img-perfil').src = ME.perfil;
	}

	if(ME.nome !== ''){
		
		document.getElementById('user-nome').innerHTML = ME.nome;
	}

	
 	document.addEventListener("DOMContentLoaded", function(event) {

	   if(ME.perfil !== ''){
			document.getElementById('img-perfil').src = ME.perfil;
		}

		if(ME.nome !== ''){

			document.getElementById('user-nome').innerHTML = ME.nome;
		}
	});*/
</script>