.nav {
	display: block;
	width: 100%;
	min-height: 80px;

	@include gradient('to left, #{$colorPrimary} 0%, #{$colorSecondary} 100%');

	& .nav-logo {
		display: inline-block;
		width: 100px;
		vertical-align: middle;

		& .box-img {
			display: block;
			width: 50px;
		
			& img {
				display: block;
				width: 100%;
			}
		}
	}

	& .nav-nav {
		display: inline-block;
		width: calc(100% - 100px);
		vertical-align: middle;

		text-align: right;
	}
}