.nav-pc {
	display: block;
	width: 100%;
	min-height: 90px;
	max-width: $maxPC;
	position: relative;
	padding: 10px;
	@include border-box;

	/* ÁREA SUPERIOR - HEADER  */
	& .box-img {
		display: inline-block;
		width: 250px;
		vertical-align: middle;
	
		& img {
			display: block;
			width: 100%;
		}
	}

	& .box-busca {
		display: inline-block;
		width: calc(100% - 340px);
		vertical-align: middle;

		padding: 0 30px;
		@include border-box;
		text-align: right;
	}

	& .box-menu {
		display: inline-block;
		width: 90px;
		vertical-align: middle;

		& button img {

		    width: 30px;
		}
	}

///////////////
		/* FIXED */
		& .box-menu-fixed {
			width: 100px;
			@include transition(.25s all);
		}
		& .box-label-fixed {
			right: 70px;
			@include transition(.25s all);
		}

		/* ABSOLUTE */
		& .box-menu-abso {
			width: 300px;
			@include transition(.25s all);
		}
		& .box-label-abso {
			right: 270px;
			@include transition(.25s all);
		}
////////////

	/* FIM ÁREA SUPERIOR */

	& .box-pc-midd {
		display: flex;
		width: 100%;
		min-height: 651px;
		height: calc(100vh - 90px);
	
		& .box-pc-a {
			display: inline-block;
			width: calc(100% - 470px);
			vertical-align: middle;
		}

		& .box-pc-b {
			display: inline-block;
			width: 470px;
			vertical-align: middle;

			& .box-pc-menu {

				display: inline-block;
				width: 50%;

				padding: 10px;
				@include border-box;
				@include border-radius(7px);

				& .box-img {
					display: inline-block;
					width: 20px;
					vertical-align: middle;
				
					& img {
						display: block;
						width: 100%;
					}
				}

				& .box-pc-m{
					display: inline-block;
					width: calc(100% - 20px);
					vertical-align: middle;
					padding-left: 10px;
					@extend .ho-title;
					font-size: 17px;
					color: #ffffff;
					@include border-box;
				}

				&:hover {
					@include transition(.80s all);
					background: #ffffff;
					color: $colorPrimary;
				}
				&:hover .box-pc-m{
					color: $colorPrimary;
				}
			}
		}
	}

	& .box-pc-fixed {
		@extend .nav-pc;
		max-width: none;
		position: fixed;

		@include gradient('left, #{$escuro}, #{$claro}');

		top: 0;
		left: 0;
		z-index: 10;
		@include transition(1s all);

		& .box-pc-header-a{
			max-width: $maxPC;
		}
	}
	@include keyframes(rainbow){
		0% {
			background-position: 0% 82%;
		}
		50% {
			background-position: 100% 10%;
		}
		100% {
			background-position: 0% 82%;
		}
	}
	& .box-pc-abso {
		position: relative;
		@include transition(1s all);
	}

	& .box-pc-dtal {
		position: absolute;
		bottom: 0;
		left: 50%;
		@include transform(translateX(-50%));

		& .box-pc-dtalhe {

			& i {
				@include gradient('to bottom, rgba(0,0,0,0) 0%, #ffffff 100%');
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
			}


			@include animation-duration(2s);
			@include animation-name(arrow_anima);
			@include animation-iteration-count(infinite);
			@include animation-direction(arrow_anima);

			animation-fill-mode: forwards;
			animation-timing-function: ease-in-out;
		}
		@include keyframes(arrow_anima){
			0% {
				bottom: 30px;
			}
			50% {
				bottom: 0;
			}
			100% {
				bottom: 30px;
			}
		}
	}
	
}

.box-menu-pc {
	position: fixed;
	top: 0;
	right: -300px;
	width: 300px;
	background: $colorWhite;
	height: 100vh;
	border-left: 1px solid $gray4;

	& .box-pc-a-menu {
		display: block;
		position: absolute;
		width: 100%;
		/*top: 30%;
		transform: translateY(-30%);*/
		overflow: auto;
		height: inherit;
		padding-bottom: 70px;
		@include border-box;

	}

	& .box-pc-menu {
		display: block;
		width: 100%;
		margin: auto;
		padding: 20px 30px;
		@include border-box;

		&:hover {

			background-color: $gray5;
		}

		& .box-img {
			display: inline-block;
			width: 20px;
			vertical-align: middle;
		
			& img {
				display: block;
				width: 100%;
			}
		}

		& .box-pc-m {
			display: inline-block;
			width: calc(100% - 20px);
			padding-left: 10px;
			@include border-box;
			vertical-align: middle;
			@extend .ho-txt;
		}
	}
}
.box-menu-pc-close {
	@include animation-duration($velNav);
	@include animation-name(box_menu_pc_close);
	@include animation-iteration-count(1);
	@include animation-direction(box_menu_pc_close);

	animation-fill-mode: forwards;
	animation-timing-function: ease-in-out;
}

@include keyframes(box_menu_pc_close){
	from {
		right: 0;
	}
	to {
		right: -300px;
	}
}
.box-menu-pc-open {
	@include animation-duration($velNav);
	@include animation-name(box_menu_pc_open);
	@include animation-iteration-count(1);
	@include animation-direction(box_menu_pc_open);

	animation-fill-mode: forwards;
	animation-timing-function: ease-in-out;
}

@include keyframes(box_menu_pc_open){
	from {
		right: -300px;
	}
	to {
		right: 0;
	}
}


.box-conteudo-body{
	margin: 0;
	@include animation-duration($velNav);
	@include animation-name('box_conteudo_body');
	@include animation-iteration-count(1);
	@include animation-direction('box_conteudo_body');

	animation-fill-mode: forwards;
	animation-timing-function: ease-in-out;
}

@include keyframes(box_conteudo_body){
	from {
		display: block;
		width: 100%;
	}
	to {
		display: inline-block;
		width: calc(100% - 300px);
	}
}

.box-input-busca{
	
	position: relative;

	& label {
		position: absolute;
		display: block;
		right: 269px;
		top: 14px;
		color: #ffffff;
	}

	& input {
		@extend .boss-input-text;
		display: inline-block;
		width: 300px;
		height: 40px;
		padding-left: 40px;
		margin: 2px 0px 3px 0px;
		@extend .ho-txt;
		color: #ffffff;
		@include border-radius(30px);
	}
}