.box-planos-pc{

	& .box-plano-pc-a {
		display: inline-block;
		width: 50%;
		vertical-align: top;

		& p{
			max-width: 450px;
		}
	}

	& .box-plano-pc-b {
		display: inline-block;
		width: 50%;
		vertical-align: top;
	}
}