/* BOSS */
@import 'components/reset.scss';

@include width;
@include site-space;
@include max;
@include float;
@include font-size;
@include font-weight;
@include pd-left;
@include pd-right;
@include pd-center;
@include rotating;
a[accesskey]:after, button[accesskey]:after, input[accesskey]:after,
label[accesskey]:after, legend[accesskey]:after, textarea[accesskey]:after {
    margin-left: 0.3em;
    content: "[" attr(accesskey) "]";
    }
.stop-animation {
	animation-iteration-count: 1 !important;
}
.upper{
	text-transform: uppercase;
}
.cursor-pointer{
	cursor: pointer;
}
.iframe{
	background-color: #FFF;
	border: none;
	width: 100%;
	min-height: 80vh;
}
.no-mg{
	margin: 0;
}
.white{
	color: #FFF !important;
}
.white-all *{
	color: #FFF !important;
}
.text-center{
	text-align: center;
}
.text-center-all *{
	text-align: center;
}
.text-right{
	text-align: right;
}
.text-left{
	text-align: left;
}
.text-justify{
	text-align: justify;
}
.responsivevideo{
	position: relative;
	padding-bottom: 56.25% !important;
	height: 0 !important;
	z-index: 5;
}
.responsivevideo iframe{
	border: none;
	outline: none;
	position: absolute;
	top: 0 !important;
	left: 0 !important;
	width: 100% !important;
	height: 100% !important;
	z-index: 5;
	border: 0 !important;
}
.cursor-pointer{
	cursor: pointer;
}
.block{
	display: inline-block;
	vertical-align: top;
	position: relative;
	@include border-box;
}
.v-top{
	vertical-align: top;
}
.v-middle{
	vertical-align: middle;
}
.v-bottom{
	vertical-align: bottom;
}
.display-none{
	display: none;
}
.display-table{
	display: table;
}
.d-block{
	display: block;
}
.d-inline-block{
	display: inline-block;
	vertical-align: top;
	@include border-box;
}
.d-inline-table{
	display: inline-table;
}
.margin-auto{
	margin: auto;
}
.margin-right{
	margin-right: 0;
	margin-left: auto;
}
.outline{
	outline: none;
}
.hidden{
	margin-top: -9999px !important;
	top: 0;
	left: 0;
	width: rem(1px);
	height: 0;
	position: absolute !important;
	opacity: 0 !important;
	overflow: auto;
}
.border-box{
	@include border-box;
}
.no-select{
	@include user-select(none);
}
.opacity{
	opacity: 0;
	filter: alpha(opacity=0);
}
.animation{
	color: default !important;
	@include animation('all 0.25s, ease-in-out');
	@include transition('all 0.25s ease-in-out');
}
.animation:hover{
	color: $colorSecondary !important;
	@include animation('all 0.25s ease-in-out');
	@include transition('all 0.25s ease-in-out');
}
.rotate-180{
	@include rotate(180deg);
}
.clean-list, .clean-list ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
.clean-list li, .clean-list ol{
	list-style: none;
	padding: 0;
}
.pdt-15{
	padding: rem(15px, 0px);
	@include border-box;
}

.equidistant{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: justify;
	display: -ms-flexbox;
	-ms-flex-pack: space-between;
	-ms-flex-align: justify;
}

@media all and (min-width: rem(1281px)){
	.no-pc{
		display: none !important;
		position: absolute;
		margin-left: rem(-99999px);
	}
	.pc-justify{
		text-align: justify;
	}
}

@media all and (min-width: rem(1024px)) and (max-width: rem(1280px)){
	.no-pc{
		display: none !important;
		position: absolute;
		margin-left: rem(-99999px);
	}
	.pc-justify{
		text-align: justify;
	}
}

@media all and (min-width: rem(768px)) and (max-width: rem(1023px)){
	.block{
		width: 100% !important;
		padding: rem(5px, 0px) !important;
	}
	.pd-adjust{
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
	.mobile-no-pd{
		padding: 0 !important;
	}
	.reponsive-table{
		clear: both !important;
		float: left !important;
		display: table !important;
		width: 100% !important;
		margin-bottom: rem(5px);
	}
	.no-mobile{
		display: none !important;
		position: absolute;
		margin-left: rem(-99999px);
	}

	.equidistant, .equidistant-area{
		width: 100%;
		display: block;
	}
	.mobile-margin-auto{
		margin: auto;
	}
	.mobile-margin-left{
		margin-left: 0 !important;
		margin-right: auto !important;
	}

	@include mobile-text-center;
}

@media all and (min-width: rem(521px)) and (max-width: rem(767px)){
	.block{
		width: 100% !important;
		padding: rem(5px, 0px) !important;
	}
	.pd-adjust{
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
	.mobile-no-pd{
		padding: 0 !important;
	}
	.reponsive-table{
		clear: both !important;
		float: left !important;
		display: table !important;
		width: 100% !important;
		margin-bottom: rem(5px);
	}
	.no-mobile{
		display: none !important;
		position: absolute;
		margin-left: rem(-99999px);
	}

	.equidistant, .equidistant-area{
		width: 100%;
		display: block;
	}
	.mobile-margin-auto{
		margin: auto;
	}
	.mobile-margin-left{
		margin-left: 0 !important;
		margin-right: auto !important;
	}

	@include mobile-text-center;
}

@media all and (min-width: rem(382px)) and (max-width: rem(520px)){
	.block{
		width: 100% !important;
		padding: rem(5px, 0px) !important;
	}
	.pd-adjust{
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
	.mobile-no-pd{
		padding: 0 !important;
	}
	.reponsive-table{
		clear: both !important;
		float: left !important;
		display: table !important;
		width: 100% !important;
		margin-bottom: rem(5px);
	}
	.no-mobile{
		display: none !important;
		position: absolute;
		margin-left: rem(-99999px);
	}

	.equidistant, .equidistant-area{
		width: 100%;
		display: block;
	}
	.mobile-margin-auto{
		margin: auto;
	}
	.mobile-margin-left{
		margin-left: 0 !important;
		margin-right: auto !important;
	}

	@include mobile-text-center;
}

@media all and (max-width: rem(381px)){
	.block{
		width: 100% !important;
		padding: rem(5px, 0px) !important;
	}
	.pd-adjust{
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
	.mobile-no-pd{
		padding: 0 !important;
	}
	.reponsive-table{
		clear: both !important;
		float: left !important;
		display: table !important;
		width: 100% !important;
		margin-bottom: rem(5px);
	}
	.no-mobile{
		display: none !important;
		position: absolute;
		margin-left: rem(-99999px);
	}

	.equidistant, .equidistant-area{
		width: 100%;
		display: block;
	}
	.mobile-margin-auto{
		margin: auto;
	}
	.mobile-margin-left{
		margin-left: 0 !important;
		margin-right: auto !important;
	}

	@include mobile-text-center;
}