/* BTN */
.#{$prefix}, a.#{$prefix}, a.#{$prefix}:visited{
	position: relative;
	cursor: pointer;
	display: inline-block;
	vertical-align: middle;
	line-height: #{$btnHeight - ($btnBorder * 2)}px;
	text-align: center;
	border: #{$btnBorder}px solid #{$gray3};
	border-radius: #{$btnBorderRadius}px;
	padding-left: #{$btnPdLeft}px;
	padding-right: #{$btnPdRight}px;
	padding-top: 0;
	padding-bottom: 0;
	margin: rem(2px, 0px, 2px, 0px);
	background-color: $gray4;
	color: $gray1;
	font-size: #{$btnFont}px;
	font-weight: $btnFontWeight;
	font-family: inherit;
	text-transform: uppercase;
	letter-spacing: 0px;
	word-spacing: normal;
	transition: background .25s linear;
	outline: none;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	transition: background .15s cubic-bezier(0.45, 0, 0.95, 0.5), 
		border .15s cubic-bezier(0.45, 0, 0.95, 0.5), 
		color .15s linear, 
		scale .15s linear, 
		translateY .15s linear;

}

.#{$prefix}-no-margin, a.#{$prefix}-no-margin{
	margin: 0 !important;
}

.#{$prefix}-no-right, a.#{$prefix}-no-right{
	border-right: none !important;
	border-top-right-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
}
.#{$prefix}-no-center, a.#{$prefix}-no-center{
	border-right: none !important;
	border-left: none !important;
	border-radius: 0 !important;
}
.#{$prefix}-no-left, a.#{$prefix}-no-left{
	border-left: none !important;
	border-top-left-radius: 0 !important;
	border-bottom-left-radius: 0 !important;
}

.#{$prefix}-no-bottom, a.#{$prefix}-no-bottom{
	border-bottom: none !important;
	border-bottom-left-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
}
.#{$prefix}-no-vcenter, a.#{$prefix}-no-vcenter{
	border-top: none !important;
	border-bottom: none !important;
	border-radius: 0 !important;
}
.#{$prefix}-no-top, a.#{$prefix}-no-top{
	border-top: none !important;
	border-top-left-radius: 0 !important;
	border-top-right-radius: 0 !important;
}
.#{$prefix}-text-left, a.#{$prefix}-text-left{
	text-align: left !important;
}
.#{$prefix}-text-right, a.#{$prefix}-text-right{
	text-align: right !important;
}

.#{$prefix}:hover, .#{$prefix}:focus, a.#{$prefix}:hover, a.#{$prefix}:focus{
	background-color: $gray4;
	color: $gray1;
	border-color: (#{$gray3} - #101010);
	transition: background .15s cubic-bezier(0.45, 0, 0.95, 0.5), 
		border .15s cubic-bezier(0.45, 0, 0.95, 0.5), 
		color .15s linear, 
		scale .15s linear, 
		translateY .15s linear;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	font-size: #{$btnFont}px;
	font-weight: $btnFontWeight;
}
.#{$prefix}:active, a.#{$prefix}:active{
	background-color: $gray4;
	color: $gray1;
	border-color: $gray3;
	transition: background .15s cubic-bezier(0.45, 0, 0.95, 0.5), 
		border .15s cubic-bezier(0.45, 0, 0.95, 0.5), 
		color .15s linear, 
		scale .15s linear, 
		translateY .15s linear;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	font-size: #{$btnFont}px;
	font-weight: $btnFontWeight;
}
.#{$prefix}:disabled, .#{$prefix}:disabled:hover, .#{$prefix}-disabled, .#{$prefix}-disabled:hover, .#{$prefix}-disabled:focus, .#{$prefix}-disabled:active{
	background-color: $gray4 !important;
	color: $gray3 !important;
	cursor: default !important;
	border: #{$btnBorder}px solid #{$gray4} !important;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
	font-size: #{$btnFont}px;
	font-weight: $btnFontWeight;
}
@mixin make-button($name, $a, $b, $c, $d){

	.#{$prefix}-#{$name}, a.#{$prefix}-#{$name}, a.#{$prefix}-#{$name}:visited{

		@if $a == rgba(0,0,0,0) {
			background-color: rgba(0,0,0,0);
		} @else {
			background-color: $a;
		}

		@if $b == rgba(0,0,0,0) {
			color: rgba(0,0,0,0);
		} @else {
			color: $b;
		}

		@if $c == rgba(0,0,0,0) {
			border-color: rgba(0,0,0,0);
		} @else {
			border-color: ($c - 10);
		}

		@if $d > 0 {
			line-height: #{$btnHeight - ($d * 2)}px;
		} @else {
			line-height: #{$btnHeight}px;
		}

		border-width: #{$d}px;
	}
}

@mixin make-button-hover($name, $a, $b, $c, $d){
	.#{$prefix}-#{$name}:hover, .#{$prefix}-#{$name}:focus, a.#{$prefix}-#{$name}:hover, a.#{$prefix}-#{$name}:focus{

		@if $a == rgba(0,0,0,0) {
			background-color: rgba(0,0,0,0);
		} @else {
			background-color: ($a - 10);
		}

		@if $b == rgba(0,0,0,0) {
			color: rgba(0,0,0,0);
		} @else {
			color: ($b + 10);
		}

		@if $c == rgba(0,0,0,0) {
			border-color: rgba(0,0,0,0);
		} @else {
			border-color: ($c - 25);
		}

		@if $d > 0 {
			line-height: #{$btnHeight - ($d * 2)}px;
		} @else {
			line-height: #{$btnHeight}px;
		}

		border-width: #{$d}px;

	}

	/* BOX SHADOW ONLY ON FOCUS */
	.#{$prefix}-#{$name}:focus, a.#{$prefix}-#{$name}:focus{
		@if $a == rgba(0,0,0,0) {
			@include box-shadow(rem(0px, 0px, 1px, 1px) rgba(0,0,0,0.4));
		} @else {
			@include box-shadow(rem(0px, 0px, 1px, 1px) ($a + #303030));
		}
	}
}

@mixin make-button-active($name, $a, $b, $c, $d){
	.#{$prefix}-#{$name}:active, a.#{$prefix}-#{$name}:active{

		@if $a == rgba(0,0,0,0) {
			background-color: rgba(0,0,0,0);
		} @else {
			background-color: ($a - 10);
		}

		@if $b == rgba(0,0,0,0) {
			color: rgba(0,0,0,0);
		} @else {
			color: ($b + #202020);
		}

		@if $c == rgba(0,0,0,0) {
			border-color: rgba(0,0,0,0);
		} @else {
			border-color: ($c - 30);
		}

		@if $d > 0 {
			line-height: #{$btnHeight - ($d * 2)}px;
		} @else {
			line-height: #{$btnHeight}px;
		}

		border-width: #{$d}px;
	}
}

/* BUTTON GENERATOR */

.ic-gradient {
	background: linear-gradient(to left, $claro 0%, $escuro 100%);
	background: -moz-linear-gradient(right, $claro 0%, $escuro 100%);
	background: -webkit-linear-gradient(right, $claro 0%, $escuro 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$claro, endColorstr=$escuro,GradientType=1 );
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}