/* CONTENT */
#content{
	min-height: 50vh;
}
.content{
	width: 100%;
	max-width: rem(1280px);
	margin: auto;
	display: block;
	@include border-box;
}
.content_h{
	padding-left: 0;
	padding-right: 0;
}
.content_v{
	padding-top: rem(100px);
	padding-bottom: rem(100px);
}
.content_l{
	max-width: rem(800px);
}
.content_m{}
.content_f{
	padding-top: 0 !important;
}

.align-middle{
	vertical-align: middle !important;
}
.lock{
	position: fixed;
	overflow: hidden;
	top: 0;
	left: 0;
	width: 100%;
}
@mixin content--large(){
	/* CONTENT */
	.content_h{
		padding-left: rem(40px) !important;
		padding-right: rem(40px) !important;
	}
	.content_f{
		padding-top: rem(20px) !important;
	}
}

/* 
	MEDIUM SCREEN 
	max-width: 1200px
	min-width: 1024px
*/
@mixin content--medium(){
	/* CONTENT */
	.content_h{
		padding-left: rem(40px) !important;
		padding-right: rem(40px) !important;
	}
	.content_f{
		padding-top: rem(20px) !important;
	}
}
/*
	TABLET LANDSCAPE 
	max-width: 1023px
	min-width: 768px
*/
@mixin content--tablet-landscape(){
	/* CONTENT */
	.content_h{
		padding-left: rem(30px) !important;
		padding-right: rem(30px) !important;
	}
	.content_v{
		padding-top: rem(60px) !important;
		padding-bottom: rem(60px) !important;
	}
	.content_m{
		max-width: rem(500px) !important;
	}
	.content_f{
		padding-top: 0 !important;
	}
}
/*
	TABLET LANDSCAPE 
	max-width: 767px
	min-width: 641px
*/
@mixin content--tablet-portrait(){
	/* CONTENT */
	.content_h{
		padding-left: rem(25px);
		padding-right: rem(25px);
	}
	.content_v{
		padding-top: rem(60px) !important;
		padding-bottom: rem(60px) !important;
	}
	.content_m{
		max-width: rem(500px) !important;
	}
	.content_f{
		padding-top: 0 !important;
	}
}

/*
	SMARTPHONE LANDSCAPE
	max-width: 640px
	min-width: 482px
*/
@mixin content--smart-landscape(){
	/* CONTENT */
	.content_h{
		padding-left: rem(25px);
		padding-right: rem(25px);
	}
	.content_v{
		padding-top: rem(60px) !important;
		padding-bottom: rem(60px) !important;
	}
	.content_m{
		max-width: rem(500px) !important;
	}
	.content_f{
		padding-top: 0 !important;
	}
}

/*
	SMARTPHONE PORTRAIT
	max-width: 481px
	min-width: 321px
*/
@mixin content--smart-portrait(){
	/* CONTENT */
	.content_h{
		padding-left: rem(20px);
		padding-right: rem(20px);
	}
	.content_v{
		padding-top: rem(60px) !important;
		padding-bottom: rem(60px) !important;
	}
	.content_f{
		padding-top: 0 !important;
	}
}

/*
	OLD SMARTPHONE
	max-width: 320px
*/
@mixin content--smart-old(){
	/* CONTENT */
	.content_h{
		padding-left: rem(20px);
		padding-right: rem(20px);
	}
	.content_v{
		padding-top: rem(60px) !important;
		padding-bottom: rem(60px) !important;
	}
	.content_f{
		padding-top: 0 !important;
	}
}