@font-face {
	font-family: 'WebFont';
	src: url('/css/font/WebFont-ExtraLight.woff2') format('woff2'),
		url('/css/font/WebFont-ExtraLight.woff') format('woff');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'WebFont';
	src: url('/css/font/WebFont-Medium.woff2') format('woff2'),
		url('/css/font/WebFont-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'WebFont';
	src: url('/css/font/WebFont-Black.woff2') format('woff2'),
		url('/css/font/WebFont-Black.woff') format('woff');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'WebFont';
	src: url('/css/font/WebFont-Light.woff2') format('woff2'),
		url('/css/font/WebFont-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'WebFont';
	src: url('/css/font/WebFont-Regular.woff2') format('woff2'),
		url('/css/font/WebFont-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'WebFont';
	src: url('/css/font/WebFont-Bold.woff2') format('woff2'),
		url('/css/font/WebFont-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'WebFont';
	src: url('/css/font/WebFont-ExtraBold.woff2') format('woff2'),
		url('/css/font/WebFont-ExtraBold.woff') format('woff');
	font-weight: 800;
	font-style: normal;
}