/* SCROLL-BAR */
::-webkit-scrollbar{width: 10px; height: 10px;}
::-webkit-scrollbar-track-piece{background-color: #FFF;}
::-webkit-scrollbar-thumb:vertical{height: 10px; background-color: $gray1;}
::-webkit-scrollbar-thumb:horizontal{width: 10px; background-color: $gray1;}
::-ms-clear {width: 0; height: 0;}
::-ms-reveal {width: 0; height: 0;}

html{
	width: 100%;
	touch-action: pan-y;
	-ms-touch-action: pan-y;
}

body{
	font-family: 'WebFont', sans-serif;
	background-color: #fdfdfd;
	color: $gray2;
	font-weight: 200;
	font-size: 18px;
	margin: 0;
	touch-action: pan-y;
	-ms-touch-action: pan-y;
}

h1, .h1{
	font-size: 22px;
	font-weight: 700;
	line-height: 1.1em;
	padding: 0;
	margin: 20px 0px 20px 0px;
	color: $colorTerciary;
}

h2, .h2{
	font-size: 22px;
	font-weight: 600;
	line-height: 1.1em;
	padding: 0;
	margin: 20px 0px 20px 0px;
	color: $colorTerciary;
}

h3, .h3{
	font-size: 18px;
	font-weight: 600;
	line-height: 1.1em;
	padding: 0;
	margin: 20px 0px 20px 0px;
}

a{
	text-decoration:none;
	cursor:pointer;
	color: $gray1;
}
.a {
	@extend a;
}

div{
	line-height: 1em;
	margin: auto;
}

p{
	font-weight: 300;
	color: $gray1;
	line-height: 1.4em;
	margin: 10px 0;
	font-size: 13px;
}

#push-loader{
	position: fixed;
	top: 0px;
	background-color: $colorWhite;

	height: 3px;
	display: table;
	width: 0%;
	z-index: 9999;
	opacity: 0;

	@include animation(all .25s alternate);
	@include transition(all .25s ease-in-out);
}
.push-loader{
	max-width: 5px;
	width: 100%;
	background-color: $colorWhite;
	height: 3px;
	position: absolute;
	right: 0px;
}
.header{
	display: block;
	background-color: $gray3;

	 & .box-header{
		padding: 40px 0;
		@include border-box;
	}
}

.box-laterais{
	vertical-align: top;
	position: relative;
	margin-left: -10px;
	margin-right: -10px;
	width: 100%;
}
.box-changeMobile{
	margin: auto;
	max-width: 500px;

	& a{
		padding: 0 10px;
		@include border-box;
	}

	& .chageClose{
		padding: 0 10px;
		@include border-box;
	}
}
@media all and (min-width: 1024px) {
	h1, .h1 {
		color: $colorPrimary;
	}
}
/*
	LARGE SCREEN 
	max-width: 1370px
	min-width: 1201px
*/
@mixin header--large(){
}
/* 
	MEDIUM SCREEN 
	max-width: 1200px
	min-width: 1024px
*/
@mixin header--medium(){
}
/*
	TABLET LANDSCAPE 
	max-width: 1023px
	min-width: 768px
*/
@mixin header--tablet-landscape(){
}
/*
	TABLET PORTRAIT 
	max-width: 767px
	min-width: 641px
*/
@mixin header--tablet-portrait(){
}
/*
	SMARTPHONE LANDSCAPE
	max-width: 640px
	min-width: 482px
*/
@mixin header--smart-landscape(){
}
/*
	SMARTPHONE PORTRAIT
	max-width: 481px
	min-width: 321px
*/
@mixin header--smart-portrait(){
}
/*
	OLD SMARTPHONE
	max-width: 320px
*/
@mixin header--smart-old(){
}