$fontSizeBody: 16px;
$fontSizeBodyNegativo: -16px;

/* COLORS */
$colorPrimary	: #21D19F;
$colorSecondary : #45B69C;
$colorTerciary	: #7293A0;

$colorDanger 	: #D7F171;
$colorWhite 	: #ffffff;
$colorAccent 	: #5bbeff;
$tooltipColor	: #5bbeff;
$transparent    : rgba(0,0,0,0);
$shadowBox 		: rem(0px, 0px, 15px, 0px) rgba(0, 0, 0, 0.1);
$shadowBoxHover	: rem(0px, 0px, 15px, 0px) rgba(0, 0, 0, 0.15);
$sizeNav		: rem(12px);

$gray1: #696969;
$gray2: #D8DDEF;

$gray3: #eaeaea;
$gray4: #f7f7f7;
$gray5: #f9f9f9;

$escuro: $colorPrimary;
$claro: $colorSecondary;

$velocidadeAnima: 0.25s;
$maxPC: rem(1220px);



// ############################################ //
// ############################################ //
// ############################################ //




/* CONFIG BTN - BUTTONS */
$prefix: 'btn';
$btnHeight: 50;

$btnBorder: 1;
$btnBorderRadius: 3;

$btnPdLeft: 30;
$btnPdRight: 30;

$btnFont: 16;
$btnFontWeight: 400;
$btnmenuHei: 30;




// ############################################ //
// ############################################ //
// ############################################ //
