<section class="content content_v content_h content_m">
	<h1>Política de Privacidade do Abigor</h1>

	<p>O Abigor sabe que você se preocupa sobre como as suas informações pessoais são usadas e compartilhadas, e leva a sua privacidade a sério. Ao visitar o web site do Abigor, enviar informações ou usar qualquer um de nossos produtos ou serviços, você reconhece que aceita as práticas e políticas descritas nesta Política de Privacidade e nossos Termos de Serviço.</p>

	<p>Esta Política de Privacidade abrange os procedimentos do Abigor para tratar de informações que permitam a identificação pessoal ("Informações Pessoais") enviadas por você ou que possam ser coletadas quando você usa o web site do Abigor. Seu nome, endereço de e-mail e informações geográficas são alguns dos tipos de Informações Pessoais que são coletadas. As informações que coletamos permitem a personalização e o aperfeiçoamento de nossos serviços e o processamento das solicitações de atendimento de nossos clientes. Coletamos os seguintes tipos de informações.</p>

	<h2 class="abigor-title">Informações Pessoais fornecidas por você</h2>
	<ul>
		<ol>Podemos receber e armazenar qualquer informação ou conteúdo que você insira no site do Abigor ao se registrar para criar uma conta, preencher seu perfil, pagar por uma assinatura VIP com mais recursos ou participar em qualquer um de nossos serviços comunitários;</ol>
		<ol>As Informações Pessoais fornecidas podem ser usadas para propósitos tais como: fornecer os produtos e serviços do Abigor, personalizar o conteúdo exibido, processar solicitações de atendimento, pesquisa, cobrança, comunicação com o usuário sobre atividades de marketing, questões de suporte e manutenção e novos produtos.</ol>
	</ul>

	<h2 class="abigor-title">Informações Pessoais coletadas automaticamente</h2>
	<ul>
		<ol>Podemos receber e armazenar automaticamente certos tipos específicos de informações sempre que você interagir com nosso website ou nossos serviços;</ol>
		<ol>O Abigor pode optar por receber e registrar automaticamente informações nos registros dos nossos servidores recebidas como componente padrão de solicitações de páginas típicas do programa de navegação pela Internet, incluindo seu endereço IP, tipo e versão de navegador e a página solicitada;</ol>
		<ol>Também podemos coletar automaticamente informações de uso, como o número e a freqüência de visitantes ao nosso site e suas diferentes áreas e componentes;</ol>
		<ol>O Abigor geralmente usa estes dados apenas de forma agregada como medida estatística, e não de uma maneira que permita que você seja identificado pessoalmente. Como parte deste uso das informações, podemos fornecer informações agregadas aos nossos parceiros sobre como os visitantes, de maneira coletiva, usam nosso site;</ol>
		<ol>Se o seu navegador aceitar cookies, o Abigor pode coletar automaticamente informações individualizadas sobre suas visitas ao site do Abigor (“Informações de Uso Pessoal”) para proporcionar a você uma experiência mais personalizada (como salvar suas configurações de cores, línguagem, etc.) e para autenticar o usuário. Se você não quiser que suas Informações de Uso Pessoal sejam coletadas, consulte a seção “Informações adicionais sobre cookies” abaixo para se informar melhor.</ol>
	</ul>
		
	<h2 class="abigor-title">Informações adicionais sobre cookies</h2>
	<p>Muitos websites, inclusive o do Abigor, usam cookies. Cookies são pequenos arquivos de dados que podemos transferir para o disco rígido do computador do usuário através do programa de navegação.</p>

	<ul>
		<ol>Estes cookies permitem que nossos sistemas reconheçam o navegador e nos informam como e quando as páginas do nosso site são visitadas, e quantas pessoas as visitam;</ol>
		<ol>Os cookies também permitem que reconheçamos o usuário como um indivíduo quando visita o site do Abigor de modo a permitir a personalização de sua experiência com o site e proporcionar acesso às informações e funções de sua conta individual;</ol>
		<ol>Se não desejar que suas Informações de Uso Pessoal do Site ou as Informações Pessoais que nos fornece sejam armazenadas, a maioria dos navegadores oferece uma opção para desativar o recurso de cookies, o que impedirá que o navegador aceite novos cookies, bem como (dependendo da sofisticação do programa de navegação) para permitir que você decida sobre a aceitação de cada novo cookie de várias maneiras. Se você não aceitar cookies do Abigor, você não poderá fazer o login na sua conta mas poderá navegar pelo site normalmente;</ol>
		<ol>Em alguns casos, nossos parceiros comerciais podem usar cookies em nosso site. Por exemplo, um anunciante como o Google pode colocar um cookie em seu computador para identificar em que país você reside e, assim, exibir anúncios no idioma correto. O Abigor não tem acesso nem controle sobre estes tipos de cookies.</ol>
	</ul>

	<p>Os usuários cadastrados podem acessar, rever e modificar suas informações de registro e de perfil contidas em nosso site fazendo um login em suas contas.</p>

	<p>E-mails são enviados por parte do Abigor quando:</p>

	<ul>
		<ol>O usuário enviar mensagens eletrônicas para um de nossos endereços, fazendo solicitações, criticando, elogiando, etc, devendo o mesmo ser respondido por um dos membros de nossa equipe;</ol>
		<ol>Quando se cadastrar, por livre e espontânea vontade, para ativar sua conta;</ol>
		<ol>Quando Abigor divulge informações sobre novidades e promoções do site.</ol>
		<ol>Não alugamos nem vendemos suas Informações Pessoais individualmente identificáveis a terceiros. Só compartilhamos suas Informações Pessoais mediante seu consentimento ou nos seguintes casos:</ol>
	</ul>

	<h2 class="abigor-title">Parceiros e agentes comerciais:</h2>

	<p>Podemos usar ou trabalhar com outras empresas e pessoas e, portanto, pode ser que precisemos compartilhar suas informações com estas companhias para fornecer produtos e serviços a você. Nós o informaremos se suas informações serão compartilhadas com tais partes.</p>

	<h2 class="abigor-title">Transferências de negócios:</h2>

	<p>Se o Abigor, ou substancialmente todos os seus ativos forem adquiridos por outra empresa, as informações dos assinantes constituiriam um dos ativos transferidos ou adquiridos por um terceiro. Você reconhece que tais transferências podem ocorrer e que qualquer empresa que adquirir o Abigor pode continuar a usar suas Informações Pessoais, conforme descrito nesta Política de Privacidade. Se isso ocorrer, informaremos a base de assinantes do Abigor mediante uma nota publicada com destaque no site.</p>

	<h2 class="abigor-title">Proteção do Abigor e terceiros:</h2>

	<p>Podemos divulgar Informações Pessoais quando acreditarmos em boa-fé que tal divulgação seja necessária para cumprir a lei; fazer cumprir ou aplicar os termos de uso e outros contratos; ou proteger os direitos, a propriedade ou a segurança do Abigor, nossos funcionários, nossos assinantes ou outros.</p>

	<p>O site do Abigor contém links para sites mantidos por terceiros que não estão sob controle nem supervisão do Abigor. Nem o Abigor nem seus funcionários, agentes ou representantes são responsáveis pelas práticas de privacidade de tais sites. Estes sites podem ter suas próprias políticas de privacidade e de atendimento aos clientes, ou não ter política alguma. Sugerimos que leia as políticas de privacidade de outros sites para verificar como suas informações pessoais serão tratadas nos sites de terceiros, antes de fornecer suas informações pessoais a estes sites.</p>

	<p>Esta Política de Privacidade entrará em vigor a partir de 4 de julho de 2007.</p>

	<p>O Abigor pode alterar esta Política de Privacidade periodicamente. O uso das informações que coletamos está sujeito à Política de Privacidade em vigor na ocasião da coleta de tais informações. Accesse frequentemente essa Política de Privacidade para verificar atualizações e mudanças.</p>

	<p>Se você tiver alguma dúvida ou pergunta sobre esta Política de Privacidade, envie-nos uma mensagem detalhada accessando nossa Central de Ajuda. Nós nos empenharemos ao máximo para resolver suas dúvidas.</p>

	<p>Copyright © 2018-2019. Todos os direitos reservados.</p>
</section>