<section class="content content_v content_h content_m">
	<h1>Regras da Comunidade</h1>
	
	<p>No Abigor existem três regras básicas para todos os usuários:</p>

	<ul>
		<ol>Respeite todos os usuários do Abigor.</ol>
		<ol>Respeite e cuide do site Abigor, este espaço foi feito para você.</ol>
		<ol>As regras se aplicam a todos, inclusive a destaques e assinantes.</ol>
	</ul>
	
	<h2 class="abigor-title">Fotos</h2>

	<p>Quais fotos são permitidas no Abigor?</p>

	<p>Você pode enviar apenas as suas fotos ou fotos que você apareça.</p>

	<p>Explicação: Não envie fotos de uma menina/menino bonita(o) só pra chamar atenção, mesmo se você tiver autorização, o abigor é pessoal e deve ter apenas suas fotos e suas fotos com seus amigos.</p>

	<p>Exceção: Plaquinhas são permitidas desde que tenham sido feitas para você e não quebrem nenhuma regra definida abaixo.</p>

	<h2 class="abigor-title">Quais fotos não são permitidas no Abigor?</h2>
	<p>Você não deve postar fotos contendo:</p>

	<ul>
		<ol>Nudez.</ol>
		<ol>Fotos de lingerie, cueca, calcinha ou sutiã.</ol>
		<ol>Fotos com zoom ou close-up em decotes ou em outras partes sexualmente apelativas do corpo.</ol>
		<ol>Fotos de biquíni ou sunga de outras pessoas.</ol>
		<ol>Poses sensuais.</ol>
		<ol>Plaquinhas com nome escrito nos seios, bunda, pernas ou qualquer tipo de foto com apelo sensual.</ol>
		<ol>Encenação de ato sexual.</ol>
		<ol>Sexo explícito.</ol>
		<ol>Violência, sangue, pessoas mortas.</ol>
		<ol>Incitação ou promoção de ódio ou discriminação.</ol>
		<ol>Drogas, apologia ao tráfico.</ol>
		<ol>Conteúdo ilegal.</ol>
		<ol>Fotos com texto para chamar atenção com intenção de fazer as pessoas clicarem.</ol>
		<ol>Fotos com palavrão e xingamentos.</ol>
		<ol>Fotos de falsas promoções.</ol>
		<ol>Linguagem vulgar ou obscena nas descrições de suas fotos.</ol>
	</ul>

	<p>Exceção a) Se você tiver fotos de biquíni ou sunga e for o dono do abigor pode postar as fotos desde que não estejam fora de contexto ou seja, sunga e biquíni são aceitos em praia, piscina e situações naturais, não são aceitas fotos no espelho, no estilo "ensaio sensual" ou que vão contra as regras listadas acima.</p>

	<p>Se você tem este tipo de foto no seu abigor, remova imediatamente.</p>

	<p>Se você identificou uma foto assim na conta de um usuário, utilize o link denunciar para reportar a foto ao Abigor.</p>

	<h2 class="abigor-title">Posso ter minha conta desativada se enviar fotos não permitidas?</h2>
	
	<p>Sim, sua conta será desativada caso:</p>

	<ul>
		<ol>O número de fotos removidas chegue ao limite interno de tolerancia, este limite não é revelado.</ol>
		<ol>Se a foto postada for pornográfica a conta é desativada na mesma hora.</ol>
		<ol>Se uma foto que já for removida for postada novamente.</ol>
	</ul>

	<h2 class="abigor-title">Fakes</h2>
	
	<p>Não se passe por uma pessoa que você não é ou seja não crie um Abigor fake, isto é crime previsto por lei, nós temos todas as informações de quem cria e posta as fotos e para nós sua privacidade acaba assim que comete um delito, ficaremos mais do que felizes em passar as informações ao ministério público responsável de cada cidade.</p>

	<h2 class="abigor-title">Comentários</h2>
	<p>Não faça SPAM nos comentários:</p>

	<p>Não envie várias vezes o mesmo comentário para a mesma pessoa.</p>

	<p>Não envie mensagens de correntes ou falsos avisos.</p>

	<p>Não envie propagandas, marketing de outro site que não seja o Abigor.</p>

	<h2 class="abigor-title">Visitas</h2>
	<p>Não tente burlar, adulterar ou modificar de qualquer forma o contador de visitas, eventualmente vamos descobrir e sua conta será deletada sem aviso prévio.</p>

	<h2 class="abigor-title">Geral</h2>
	<p>Não abuse do sistema do Abigor, se você descobrir uma falha entre em contato. Ficaremos felizes em resolver e agradecer a você publicamente.</p>

	<p>Se você quebrar as regras seremos forçados a desativar sua conta.</p>
</section>