/* AREA PLANOS */
.indx-box-plano {

	& .indx-plano-nome-box {
		
		padding-right: 10px;
		display: inline-block;
		vertical-align: middle;
		width: calc(100% - 40px);
		@include border-box;
	}

	& .indx-plano-botao-box {
		display: inline-block;
		vertical-align: middle;
		text-align: right;
		width: 40px;
	}
}

.indx-plano-open {
	@include animation-duration($velocidadeAnima);
	@include animation-name(indx_plano_open);
	@include animation-iteration-count(1);
	@include animation-direction(indx_plano_open);

	animation-fill-mode: forwards;
	animation-timing-function: ease-in-out;
}
@include keyframes(indx_plano_open){
	from {
		display: none;
	}
	to {

		display: block;
	}
}

.indx-plano-rotate-in{
	@include animation-duration($velocidadeAnima);
	@include animation-name(indx_plano_rotate_in);
	@include animation-iteration-count(1);
	@include animation-direction(indx_plano_rotate_in);

	animation-fill-mode: forwards;
	animation-timing-function: ease-in-out;
}
@include keyframes(indx_plano_rotate_in){
	from {
		@include rotate(0deg);
	}
	to {
		@include rotate(180deg);
	}
}

.indx-plano-rotate-out{
	@include animation-duration($velocidadeAnima);
	@include animation-name(indx_plano_rotate_out);
	@include animation-iteration-count(1);
	@include animation-direction(indx_plano_rotate_out);

	animation-fill-mode: forwards;
	animation-timing-function: ease-in-out;
}
@include keyframes(indx_plano_rotate_out){
	from {
		@include rotate(180deg);
	}
	to {
		@include rotate(0deg);
	}
}



/*
	OLD SMARTPHONE
	max-width: 320px
*/
@mixin plano--smart-old(){

	.indx-box-plano {
		padding: 10px;
	}
}