.indx-box-informativo {

	& .indx-box-info-img {
		display: inline-block;
		width: 130px;
		vertical-align: top;

		& img {
			display: block;
			width: 100%;
		}
	}

	& .indx-box-info-desc {
		display: inline-block;
		width: calc(100% - 130px);
		vertical-align: top;

		& p {
			padding: 0 10px;
		}
	}

	& p {
		margin: 0;
		padding: 0;
	}

	& .indx-info-txt{
		overflow: hidden;
		height: 82px;
		padding: 10px;

		@extend .ho-txt;
		@include border-box;
	}
}

/*
	OLD SMARTPHONE
	max-width: 320px
*/
@mixin informativo--smart-old(){

	.indx-box-informativo {
		padding: 10px;

		& .indx-box-info-img {
			width: 120px;
		}

		& .indx-box-info-desc {
			width: calc(100% - 120px);	
		}
	}
}