/* ÁREA REAJUSTE */
.indx-box-reajuste {

	& .indx-rea-nome {
		display: block;
		width: 100%;

		& .indx-rea-nome-a {
			display: inline-block;
			vertical-align: top;
			width: 50%;
			text-align: left;
		}

		& .indx-rea-nome-b {
			display: inline-block;
			vertical-align: top;
			width: 50%;
			text-align: right;
		}
	}

	& .indx-rea-desc {
		display: block;
		width: 100%;

		& .indx-rea-desc-a {
			display: inline-block;
			vertical-align: top;
			width: calc(100% - 100px);
			text-align: left;
		}

		& .indx-rea-desc-b {
			display: inline-block;
			vertical-align: top;
			width: 100px;
			text-align: right;
		}
	}

	& .indx-rea-periodo {
		display: block;
		width: 100%;

		& .indx-rea-periodo-a {
			display: inline-block;
			vertical-align: top;
			width: 50%;
			text-align: left;
		}

		& .indx-rea-periodo-b {
			display: inline-block;
			vertical-align: top;
			width: 50%;
			text-align: right;
		}
	}
}

.indx-box-inter-reajuste {
	
	& .indx-rea-nome {
		display: block;
		width: 100%;

		& .indx-rea-nome-a {
			display: inline-block;
			vertical-align: top;
			width: 50%;
			text-align: left;
		}

		& .indx-rea-nome-b {
			display: inline-block;
			vertical-align: top;
			width: 50%;
			text-align: right;
		}
	}

	& .indx-rea-desc {
		display: block;
		width: 100%;

		& .indx-rea-desc-a {
			display: inline-block;
			vertical-align: top;
			width: calc(100% - 100px);
			text-align: left;
		}

		& .indx-rea-desc-b {
			display: inline-block;
			vertical-align: top;
			width: 100px;
			text-align: right;
		}
	}

	& .indx-rea-periodo {
		display: block;
		width: 100%;

		& .indx-rea-periodo-a {
			display: inline-block;
			vertical-align: top;
			width: 50%;
			text-align: left;
		}

		& .indx-rea-periodo-b {
			display: inline-block;
			vertical-align: top;
			width: 50%;
			text-align: right;
		}
	}
}
/*
	OLD SMARTPHONE
	max-width: 320px
*/
@mixin reajuste--smart-old(){

	.indx-box-reajuste {
		padding: 10px;
	}
}