/* AREA MENU HOME */

.ans{
	background-color: ($gray1 - 30);
	color: $colorWhite;
	font-weight: 600;
	font-size: 11px;
	margin: 0;
	padding: 1px 10px;
	@include border-box;
}
.indx-menu {

	display: block;
	width: 100%;

	& .indx-right{
		margin-right: 10px;
		margin-top: 10px;
		margin-bottom: 10px;
	}

	& .indx-left{
		margin-left: 10px;
		margin-top: 10px;
		margin-bottom: 10px;
	}

	/* BOX 50% COM SHADOW*/
	& .indx-box {

		display: inline-block;
		vertical-align: top;
		position: relative;
		width: calc(50% - 10px);
		@include border-radius(7px);

		/* BOX IMAGEM */
		& .indx-box-img {
			display: block;
			width: 40px;
			height: 80px;
			margin: auto;
			padding: 20px 0;
			@include border-box;

			& img {
				display: block;
				width: 100%;
			}
		}
		
		/* BOX DESCRIÇÃO */
		& .indx-box-desc {
			display: block;
			padding: 17px 10px;
			@include border-box;
			height: 55px;
			overflow: hidden;
			line-height: 12px;
			text-align: center;
			color: $gray1;
			font-weight: 400;
			font-size: 12px;
		}
	}
}